@import "_nullstyle";
.osnova {
  .header{
    width: 100%;
    min-height: 100%;
    height: 1080px;
    background-image: url(../img/BG-Header.png);
    display: flex;
    flex-direction: column;
    padding: 10px;
    .binary{
      width: 100%;
      text-align: center;
      margin-top: 170px;
    }
    .infa{
      display: flex;
      flex-direction: column;
      .p1{
        font-size: 64px;
        font-family: "Lato";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
      }
      .p2{
        margin: 10px 0 40px;
        font-size: 20px;
        font-family: "Lato";
        color: rgb(255, 255, 255);
        text-align: center;
        letter-spacing: 3px;
      }
      hr{
        width:80px;
        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        height: 1px; 
        margin: auto;
      }
      margin-top: 160px;
    }
    .button{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 230px;
      .read{
        width: 160px;
        border: 1px solid rgb(255, 255, 255);
        border-style: ridge;
        color: rgb(255, 255, 255);
        margin: auto;
        font-size: 20px;
        font-family: "Lato";
        color: rgb(255, 255, 255);  
        padding: 10px 0; 
        letter-spacing: 1px;
      }
      .arrow{
        margin: 70px auto 0;
        width: 20px;
        background-image: none; 
        background: transparent;
      }
    }
  }
  .about{
    min-height: 100%;
    width: 100%;
    height: 970px;
    .tabs{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 40px auto;
      width: 35%;
        a{
          padding: 5px;
          text-decoration: none;
          color: black;
          font-size: 25px;
          font-family: "Lato";
          font-weight: bold;
        }
        a:hover{
          color: rgb(173, 160, 116);
          //transition: 0.5;
        }
      }
    .text{
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: 150px auto;
      text-align: center;
      h1{
        font-size: 56px;
        font-family: "Lato";
        color: rgb(0, 0, 0);
        font-weight: bold;
        }
      hr{
        width:95px;
        background-color: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        height: 1px; 
        margin: 25px auto;
      }
      p{
          font-size: 17px;
          font-family: "Lato";
          color: rgb(82, 52, 52);
          margin: 8px 0;

      }
    }
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    justify-content: space-around;
    .web{
      width: 350px;
      padding: 10px 40px;
      text-align: center;
      margin-bottom: 45px;
      .img{
        border: 1px solid rgb(134, 133, 133);
        border-radius: 100%;
        width: 80px;
        height: 80px;
        margin: auto;
        line-height: 80px;
        box-shadow: 0 0 3px rgb(134, 133, 133);
        img{
          vertical-align: middle;
        }
      }
      h1{
        margin: 30px 0;
        font-size: 27px;
        font-family: "Lato";
        color: rgb(0, 0, 0);
      }
      p{
        font-size: 17px;
        font-family: "Lato";
        color: rgb(134, 133, 133);
        line-height: 20px;
      }
    }
    .ios{
      width: 350px;
      padding: 10px 40px;
      text-align: center;
      margin-bottom: 45px;
      .img{
        border: 1px solid rgb(134, 133, 133);
        border-radius: 100%;
        width: 80px;
        height: 80px;
        margin: auto;
        line-height: 80px;
        box-shadow: 0 0 3px rgb(134, 133, 133);
        img{
          vertical-align: middle;
        }
      }
      h1{
        margin: 30px 0;
        font-size: 27px;
        font-family: "Lato";
        color: rgb(0, 0, 0);
      }
      p{
        font-size: 17px;
        font-family: "Lato";
        color: rgb(134, 133, 133);
        line-height: 20px;
      }
    }
    .marketing{
      width: 350px;
      padding: 10px 40px;
      text-align: center;
      margin-bottom: 45px;
      .img{
        border: 1px solid rgb(134, 133, 133);
        border-radius: 100%;
        width: 80px;
        height: 80px;
        margin: auto;
        line-height: 80px;
        box-shadow: 0 0 3px rgb(134, 133, 133);
        img{
          vertical-align: middle;
        }
      }
      h1{
        margin: 30px 0;
        font-size: 27px;
        font-family: "Lato";
        color: rgb(0, 0, 0);
      }
      p{
        font-size: 17px;
        font-family: "Lato";
        color: rgb(134, 133, 133);
        line-height: 20px;
      }
    }
  }
}